.allowNewServer {
    color: white;
}

.allowNewServer[data-allow="true"],
.allowNewServerAllowed {
    background: green;
}

.allowNewServer[data-allow="false"],
.allowNewServerNotAllowed {
    background: red;
}

.highlight {
    padding: 0 3px;
    background: yellow;
    color: black;
}