<h2>List of servers</h2>
<p>
  <app-server></app-server>
</p>
<!-- 
    [] mark to angular that we wish to bind the property
    so we can update it from the JS code

    Adding event handlers 
    `()` is used add event binding for the element
    (click) bind to the click event. 
            in this case it will fired when the user type something
-->
<label>New server Name:</label>
<!-- 
  $event will send the data of the event handler, the data and information of the event

  [(ngModel)] - 2 way binding data between client side and the Angular internal code .
  The value will be updated whenever this value is updated on the model.
  Using 2Way binding can replace the event handler method
-->
<!-- input type="text"
           class="forn-control"
           (input)="onUpdateServerName($event)" 
-->

<input type="text" class="form-control" [(ngModel)]="serverName">

<!-- The button for creating new server -->
<button class="btn allowNewServer" [attr.data-allow]="allowNewServer" [innerText]="allowNewServerButtonText" [disabled]="!allowNewServer"
  (click)="onCreateServer()"></button>

<br />
<p>Server creation status:
  <b class="highlight"> {{ serverCreationStatus }}</b>
</p>

<!-- Echo the server name using property binding-->
<p>2 Way binding. Echo the server name as we type:
  <b class="highlight">{{ serverName }}</b>
</p>
