.allowNewServer {
  color: white;
}

.allowNewServer[data-allow="true"] {
  background: green;
}

.allowNewServer[data-allow="false"] {
  background: red;
}

.highlight {
  padding: 0 3px;
  background: yellow;
  color: black;
}
