<div class="row justify-content-center">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="nav-item active"><a class="nav-link" href="#">Home</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#">Servers</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#">Users</a></li>
    </ul>
  </div>
</div>
<div class="row justify-content-center">
  <div class="row">
    <div class="col-4"></div>
    <app-home></app-home>
    <app-users></app-users>
    <app-servers></app-servers>
  </div>
</div>

<hr />

<div class="row justify-content-center">
  <div class="col-4">

    <div *appUnless="true">This is the content when *appUnless="true" </div>
    <div *appUnless="false">This is the content when *appUnless="false" </div>
    <br />
    <br />
    <p appHighlight>This is our appHighlight directive</p>
    <br />
    <p appTextHighlight>This is our appTextHighlight directive</p>
    <br />
    <div class="card">
      <div class="card-header">
        {{ title }}
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="row justify-content-center">
            <app-servers-manager (serverAEvent)="appServerACreated( $event )" (serverBEvent)="appServerBCreated( $event )">
            </app-servers-manager>
          </div>
          <hr />
          <h5 class="text-center">List of servers {{serverElements.length}}</h5>
          <div class="row justify-content-center">
            <!-- this line "does" the trick, here we process the list of elements-->
            <app-server-element *ngFor="let serverElement of serverElements" [serverElement]="serverElement">
            </app-server-element>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
