<div class="container">

    <p appHighlight>This is our appHighlight directive</p>
    <p appTextHighlight
       [defaultBgColor]="silver">This is our appTextHighlight directive</p>

    <!-- Bind custom event when we creating server -->
    <app-cockpit (serverCreated)="onServerAdded( $event )"
                 (blueprintCreated)="onServerBlueprintAdded( $event )">
    </app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <!-- We wish to loop and access the [element]="serverElement" -->
            <app-server-element *ngFor="let serverElement of serverElements"
                                [element]="serverElement">
            </app-server-element>
        </div>
    </div>
</div>